

.display-1{
	text-transform: uppercase;
	padding: 130px  20px  10px  0px;
	font-family: 'Prompt', sans-serif;

}

.display-2{
	padding: 5px  20px  15px  0px;
}

.para{
	font-size: 1.2rem;
	padding: 20px 40px  5px  0px;
	
}

.btn-danger{
	border-radius: 85px;
	height: 85px;
	width: 85px;
	text-transform: uppercase;
}

#addBtn{
	display: flex;
	flex-wrap: wrap;
}


.col-md-8{
	text-transform: uppercase;
	font-size: 1.5rem;
	font-family: 'Prompt', sans-serif;
}

.btn-outline-secondary{
	border-radius: 45px;
	height: 45px;
	width: 45px;
}

.guide{
	text-transform: uppercase;
	color: rgba(187, 223, 45, 0.7);
	font-size: 1rem;
	padding: 7px 0px;
}


.badi_img{
	padding: 100px 15px;
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInRight-active {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
